node_modules

# build output
/build
/.svelte-kit
/dist

# wrangler / cloudflare local state
/.wrangler

# dev artifacts
.env
.env.*
!.env.example
.DS_Store
*.local
*.log

# os / editor
.vscode/*
!.vscode/extensions.json
.idea
